body {
    background-color: #1b1b1b;
    color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.button {
    background-color: rgba(134, 27, 196, 0.7);
    border: 3px solid #9429d1;
    color: #e8e8e8;
    font-size: 17pt;
    height: 60px;
    border-radius: 7px;
    transition: all 0.5s ease;
}
.button:hover {
    background-color: #9429d1;
}

/*header*/
header {
    width: 80%;
    background-color: #303030;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}
.header-index {
    position: static;
}
.header__logotype {
    width: 80px;
    border-radius: 15px;
}
.header__main-panel {
    display: flex;
    justify-content: space-between;
}
.header__button-menu {
    display: none;
    background-color: transparent;
    border: 0px;
}
.header__icon-menu {
    width: 40px;
}
.header__menu {
    font-size: 18pt;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-item {
    color: #e8e8e8;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.5s ease;
}
.header__menu-item:hover {
    background-color: rgb(46, 91, 212, 0.5);
    transform: scale(110%);
}
.header__menu-item_choice {
    border: 2px solid #2e5bd4;
    background-color: rgb(46, 91, 212, 0.5);
    transform: scale(110%);
}
.header__image {
    height: 25px;
    margin-right: 10px;
}


/*admin.html, login.html, register.html стили для формы*/
.template-form {
    background-color: #383838;
    border-radius: 10px;
    padding: 30px 50px 40px 50px;
    margin: 170px auto 0px auto;
    font-size: 19pt;
    width: 50%;
}
.form-login {
    width: 40%;
}
.form__title {
    margin-top: 10px;
}
.form__title-admin {
    margin-bottom: 10px;
}
.form__item {
    margin-top: 30px;
}
.form__item_short {
    width: 45%;
}
.form__field-double {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__button-login {
    width: 25%;
    margin-top: 40px;
    margin-bottom: 15px;
}
.form__button-register {
    width: 35%;
    margin-top: 20px;
}
.form__button-admin {
    width: 25%;
    margin-top: 30px;
}
.form__link {
    width: fit-content;
    font-size: 17pt;
    color: #a449d9;
    margin-top: 30px;
    transition: all 0.3s;
}
.form__link_end {
    text-align: right;
}
.form__link:hover {
    transform: scale(103%);
}
input, textarea {
    font-size: 18pt;
    width: 100%;
    height: 45px;
    margin: 15px 0px 10px 0px;
    border-radius: 5px;
    background-color: #d0d0da;
    border: 0px;
}
.form__input-textarea {
    height: 150px;
}
.form__input-image {
    height: 40px;
    color: black;
}
.form__check-person-data {
    display: flex;
    margin: 30px 0px;
    align-items: center;
}
.form__checkbox {
    min-width: 15px;
    max-width: 20px;
    margin: 0px 30px 0px 0px;
}


footer {
    background-color: #303030;
    width: 70%;
    padding: 40px 15% 20px 15%;
    display: flex;
    flex-wrap: wrap;
    margin: 70px auto 0px auto;
    justify-content: space-around;
    font-size: 15pt;
    bottom: 0;
}
.footer__list-of-links {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.footer__text-block {
    display: flex;
    align-items: center;
}
.footer__text {
    margin-top: 22px;
}
.footer__image {
    height: 25px;
    margin-right: 10px;
}
.footer__link {
    position: relative;
    width: fit-content;
    margin: 10px 0px;
    text-decoration: none;
    color: #e8e8e8;
    padding-bottom: 2px;
    transition: all 0.5s ease;
}
.footer__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #2e5bd4;
    transition: all 0.5s ease;
}
.footer__link:hover::after {
    width: 100%;
    left: 0;
}
.footer__link:hover {
    color: #2e5bd4;
}
