body {
    background-color: #1b1b1b;
    color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.button {
    background-color: rgba(134, 27, 196, 0.7);
    border: 3px solid #9429d1;
    color: #e8e8e8;
    font-size: 17pt;
    height: 60px;
    border-radius: 7px;
    transition: all 0.5s ease;
}
.button:hover {
    background-color: #9429d1;
}

/*header*/
header {
    width: 80%;
    background-color: #303030;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}
.header-index {
    position: static;
}
.header__logotype {
    width: 80px;
    border-radius: 15px;
}
.header__main-panel {
    display: flex;
    justify-content: space-between;
}
.header__button-menu {
    display: none;
    background-color: transparent;
    border: 0px;
}
.header__icon-menu {
    width: 40px;
}
.header__menu {
    font-size: 18pt;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-item {
    color: #e8e8e8;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.5s ease;
}
.header__menu-item:hover {
    background-color: rgb(46, 91, 212, 0.5);
    transform: scale(110%);
}
.header__menu-item_choice {
    border: 2px solid #2e5bd4;
    background-color: rgb(46, 91, 212, 0.5);
    transform: scale(110%);
}
.header__image {
    height: 25px;
    margin-right: 10px;
}

.index__title {
    font-size: 32pt;
    margin: 70px 0px 0px 10%;
}
/*index.html слайдер*/
.index-title {
    font-size: 22pt;
}
.slider {
    width: 70%;
    margin: 70px auto 120px auto;
}
.slider__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider__button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #a9a9a9;
    border: 0px;
    font-size: 25pt;
    padding: 0px 3px 3px 0px;
}
.slider__button_end {
    padding: 0px 0px 3px 3px;
}
.slider__indicators {
    text-align: center;
    margin-top: 50px;
}
.slider__indicator {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    margin: 0px 7px;
    background-color: #6d6d6d;
    border: 0px;
}
.slider__indicator_active {
    background-color: #dbdbdb;
}
.slider__slide {
    display: none;
    align-items: center;
    margin: 0px 50px;
    width: 80%;
}
.slider__slide_active {
    display: flex;
}
.slider__image {
    height: 430px;
    border-radius: 15px;
    margin-right: 50px;
}
.slider__text-block {
    font-size: 24pt;
}
.slider__title {
    margin-bottom: 0px;
}
.slider__price {
    margin: 15px 0px 70px 10px;
}
.slider__link {
    padding: 15px 30px;
    color: #e8e8e8;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20pt;
    border: 3px solid #8411c7;
    background-color: #8411c7;
    transition: all 0.5s ease;
}
.slider__link:hover {
    background-color: rgb(149, 55, 204, 0.5);
}
/*index.html поиск по жанрам*/
.search {
    margin: 0px auto;
    border-radius: 8px;
    width: 81%;
}
.search__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20pt;
    width: 95%;
    margin: 0px auto;
}
.search__input {
    width: 85%;
    margin: 0px;
    height: 50px;
}
.search__button {
    width: 10%;
}
/*index.html преимущества*/
.advantages {
    width: 80%;
    margin: 100px auto 50px auto;
    padding: 15px 30px 30px 30px; 
    border-radius: 10px;
    background-color: #303030;
}
.advantages__list-of-advantages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.advantages__advantage {
    border: 5px solid #9429d1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
    font-size: 17pt;
    margin: 20px 10px;
    text-align: center;
}
.advantages__image {
    height: 60px;
    margin: 0px auto;
}
/*index.html популярные игры*/
.games {
    width: 80%;
    margin: 70px auto;
}
.games__list-of-games {
    width: 96%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid #8411c7;
    border-top: 5px solid #8411c7;
    background-color: rgb(148, 41, 209, 0.5);
    border-radius: 10px;
}
.games__link {
    text-decoration: none;
    color: #e8e8e8;
}
.games__card-of-game {
    margin: 30px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 15%;
    position: relative;
    transition: all 0.5s ease;
}
.games__card-of-game::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: all 0.5s ease;
    pointer-events: none;
}
.games__card-of-game:hover::before {
    border: 4px solid #9429d1;
}
.games__card-of-game:hover {
    transform: scale(105%);
}
.games__image {
    width: 100%;
    border-radius: 10px;
}
/*index.html партнеры*/
.partners {
    width: 80%;
    margin: 50px auto;
}
.partners__list-of-partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partners__image {
    height: 150px;
    border-radius: 10px;
    margin: 0px 30px;
}

/*catalog.html стили для страницы каталога*/
.catalog__title {
    margin: 150px 0px 0px 10%;
    font-size: 30pt;
}
.catalog {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto 50px auto;
}
.catalog__filter {
    border: 2px solid #9429d1;
    background-color: #383838;
    width: 15%;
    margin: 30px 30px 50px 0px;
    height: fit-content;
    border-radius: 10px;
    font-size: 14pt;
}
.catalog__top-block {
    display: flex;
    border-bottom: 2px solid #9429d1;
}
.catalog__filter-title {
    font-size: 20pt;
    margin: 20px 10px 10px 0px;
    padding: 0px 0px 10px 20px;
    width: 92%;
}
.catalog__image-down {
    width: 30px;
    margin-right: 30px;
    display: none;
}
.catalog__filter-name {
    font-size: 16pt;
    margin: 20px 20px 10px 0px;
    font-weight: bold;
}
.catalog__form {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.catalog__genre {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.catalog__genre-checkbox {
    min-width: 20px;
    max-width: 20px;
    margin: 0px 10px 0px 0px;
}
.catalog__button {
    font-size: 16pt;
    padding: 7px 20px;
    height: fit-content;
    margin-top: 20px;
}
.catalog__list-of-cards {
    width: 80%;
    margin: 0px auto 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 0;
}
.catalog__card-of-game {
    width: 18%;
    margin: 30px 10px;
    border: solid 3px #9537cc;
    padding: 20px 30px 40px 30px;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
}
.catalog__card-of-game:hover {
    background-color: rgb(149, 55, 204, 0.5);
    transform: scale(105%);
}
.catalog__image {
    width: 100%;
    height: fit-content;
    border-radius: 7px;
    margin: 0px auto;
}
.card-of-game__title {
    font-size: 20pt;
    margin-bottom: 5px;
}
.card-of-game__genre {
    color: #aaaaaa;
    font-size: 12pt;
    margin: 10px 0px 30px 0px;
}
.card-of-game__company {
    margin: 0px;
}
.card-of-game__price {
    margin-bottom: 5px;
    font-size: 16pt;
}
.card-of-game__mark {
    display: flex;
    margin-bottom: 30px;
}
.card-of-game__mark-star {
    font-size: 22pt;
    margin-right: 3px;
    color: #a9a9a9;
}
.card-of-game__mark-star_yellow {
    color: #ffcc00
}
.card-of-game__link-button  {
    padding: 10px;
    border: 2px solid #2e5bd4;
    background-color: #2e5bd4;
    border-radius: 5px;
    color: #e8e8e8;
    text-decoration: none;
    margin-top: auto;
    text-align: center;
}

/*profile.html личный кабинет пользователя*/
.main-panel {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 70px auto;
}
.main-panel__user-panel {
    width: 30%;
}
.main-panel__info-user {
    padding: 20px;
    border: 3px solid #9537cc;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    background-color: #303030;
}
.main-panel__info-user-title {
    font-size: 21pt;
    margin-top: 10px;
}
.main-panel__info-user-data {
    margin-left: 20px;
    font-size: 14pt;
}
.main-panel__settings {
    padding: 20px 20px 40px 20px;
    border: 3px solid #9537cc;
    border-radius: 10px;
    margin: 30px 20px 0px 0px;
    background-color: #303030;
}
.main-panel__settings-title {
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 15px;
}
.main-panel__theme-block {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 15px 20px 30px 20px;
    width: 55%;
}
.main-panel__theme-title {
    font-size: 16pt;
}
.main-panel__theme-control-block {
    display: flex;
    justify-content: space-between;
    border: 2px solid #2e5bd4;
    border-radius: 8px;
    margin-left: 10px;
}
.main-panel__theme {
    padding: 8px;
    text-align: center;
    width: 50%;
}
.main-panel__theme_choice {
    background-color: rgb(46, 91, 212, 0.5);
}
.main-panel__theme_left {
    border-right: 2px solid #2e5bd4;
}
.main-panel__image {
    width: 35px;
}
.main-panel__new-password {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #2e5bd4;
    background-color: rgb(46, 91, 212, 0.5);
    border-radius: 8px;
    margin: 0px 10px 0px 10px;
    font-size: 14pt;
    transition: all 0.5s ease;
}
.main-panel__new-password:hover {
    background-color: #2e5bd4;
}
/*profile.html история покупок*/
.main-panel__history-buys {
    width: 70%;
    margin: 0px auto;
    border: 3px solid #9429d1;
    border-radius: 10px;
    padding: 20px;
    background-color: #303030;
}
.main-panel__history-buys-title {
    font-size: 22pt;
    margin-top: 10px;
}
.main-panel__buy {
    display: flex;
    align-items: center;
    padding-left: 2px;
    border-bottom: 2px solid #9429d1;
    margin: 10px 20px 20px 20px;
    position: relative;
    transition: all 0.5s ease;
}
.main-panel__buy:hover {
    background-color: rgb(148, 41, 209, 0.5);
}
.main-panel__buy::after {
    content: '';
    position: absolute;
    height: 0;
    width: 2px;
    left: 0;
    bottom: 0;
    background-color: #9429d1;
    transition: all 0.5s ease;
}
.main-panel__buy:hover::after {
    height: 65px;
}
.main-panel__buy::before {
    content: '';
    position: absolute;
    height: 0;
    width: 2px;
    right: 0;
    bottom: 0;
    background-color: #9429d1;
    transition: all 0.5s ease;
}
.main-panel__buy:hover::before {
    height: 65px;
}
.main-panel__buy_end {
    display: flex;
    align-items: center;
    padding-left: 2px;
    margin: 10px 20px 20px 20px;
    border-bottom: 0px;
    transition: all 0.5s ease;
}
.main-panel__buy_end:hover {
    background-color: rgb(148, 41, 209, 0.5);
}
.main-panel__buy-name {
    width: 65%;
    font-size: 16pt;
    margin: 20px;
}
.main-panel__buy-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-size: 14pt;
}
.main-panel__buy-date {
    margin: 10px;
    text-align: center;
}
.main-panel__buy-price {
    margin: 20px;
    text-align: right;
}

/*admin.html, login.html, register.html стили для формы*/
.template-form {
    background-color: #383838;
    border-radius: 10px;
    padding: 30px 50px 40px 50px;
    margin: 170px auto 0px auto;
    font-size: 19pt;
    width: 50%;
}
.form-login {
    width: 40%;
}
.form__title {
    margin-top: 10px;
}
.form__title-admin {
    margin-bottom: 10px;
}
.form__item {
    margin-top: 30px;
}
.form__item_short {
    width: 45%;
}
.form__field-double {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__button-login {
    width: 25%;
    margin-top: 40px;
    margin-bottom: 15px;
}
.form__button-register {
    width: 35%;
    margin-top: 20px;
}
.form__button-admin {
    width: 25%;
    margin-top: 30px;
}
.form__link {
    width: fit-content;
    font-size: 17pt;
    color: #a449d9;
    margin-top: 30px;
    transition: all 0.3s;
}
.form__link_end {
    text-align: right;
}
.form__link:hover {
    transform: scale(103%);
}
input, textarea {
    font-size: 18pt;
    width: 100%;
    height: 45px;
    margin: 15px 0px 10px 0px;
    border-radius: 5px;
    background-color: #d0d0da;
    border: 0px;
}
.form__input-textarea {
    height: 150px;
}
.form__input-image {
    height: 40px;
    color: black;
}
.form__check-person-data {
    display: flex;
    margin: 30px 0px;
    align-items: center;
}
.form__checkbox {
    min-width: 15px;
    max-width: 20px;
    margin: 0px 30px 0px 0px;
}


footer {
    background-color: #303030;
    width: 70%;
    padding: 40px 15% 20px 15%;
    display: flex;
    flex-wrap: wrap;
    margin: 70px auto 0px auto;
    justify-content: space-around;
    font-size: 15pt;
    bottom: 0;
}
.footer__list-of-links {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
.footer__text-block {
    display: flex;
    align-items: center;
}
.footer__text {
    margin-top: 22px;
}
.footer__image {
    height: 25px;
    margin-right: 10px;
}
.footer__link {
    position: relative;
    width: fit-content;
    margin: 10px 0px;
    text-decoration: none;
    color: #e8e8e8;
    padding-bottom: 2px;
    transition: all 0.5s ease;
}
.footer__link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #2e5bd4;
    transition: all 0.5s ease;
}
.footer__link:hover::after {
    width: 100%;
    left: 0;
}
.footer__link:hover {
    color: #2e5bd4;
}

/*index_light.html стили для светлой темы*/
.body-light {
    background-color: #d8d8d8;
    color: #1b1b1b;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.header-light {
    background-color: #a5a5a5;
}
.header__menu-item-light {
    color: #1b1b1b;
}
.header__menu-item-light:hover {
    background-color: rgba(64, 102, 204, 0.7);
    transform: scale(110%);
}

.slider__link-light:hover {
    background-color: rgb(148, 41, 209, 0.8);
}
.slider__indicator-light {
    background-color: #7a7a7a;
}
.slider__indicator-light_active {
    background-color: #3d3d3d;
}

.search__input-light {
    background-color: #ffffff;
}

.advantages-light {
    background-color: #afafaf;
}

.games__link-light {
    color: #1b1b1b;
}
.games__list-of-games-light {
    background-color: rgb(148, 41, 209, 0.6);
}
.games__card-of-game-light:hover::before {
    border: 4px solid #760eb3;
}
.card-of-game__genre-light {
    color: #dadada;
    font-weight: bold;
}
.card-of-game__link-button-light {
    background-color: rgba(64, 102, 204, 0.7);
}

.partners__image-light {
    border: 3px solid #9429d1;
    padding: 5px;
}

.footer-light {
    background-color: #a5a5a5;
}
.footer__link-light {
    color: #1b1b1b;
}
.footer__link-light:hover {
    color: #1a46be;
}
